#title {
    font-size: 30px;
    color:#776E65;
}

.btn-groups {
    display: flex;
    width: 500px;
}

.button {
    background-color: #8F7A66;
    color: #FAF8EF;
    height: 20px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    background-color: #61c0ed;
    color: #FAF8EF;
    transition: background-color 0.3s, color 0.3s;
}

.index {
    height: 25px;
    width: 60px;
    color: white;
    background-color: #CDC1B4;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 5px;
    background-color: #BBADA0;
    border-radius: 5px;
    padding: 1px;
    opacity: 100%;
}

.cell {
    height: 25px;
    width: 60px;
    /*background-color: #CDC1B4;*/
    margin: 0px;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell: focus {
    border-color: blue;
}