
@-webkit-keyframes playing {
	0% {
	  width: 0%; }
  
	100% {
	  width: 100%; } }
  
  @-moz-keyframes playing {
	0% {
	  width: 0%; }
  
	100% {
	  width: 100%; } }
  
  @-o-keyframes playing {
	0% {
	  width: 0%; }
  
	100% {
	  width: 100%; } }
  
  @keyframes playing {
	0% {
	  width: 0%; }
  
	100% {
	  width: 100%; } }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


body { 
    background: url("佛祖.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;	 
    
}

.wrapper{
    background-color: rgba(249, 224, 219, .2);
    width: 80vw;
    max-width: 1100px;
    margin: 1em auto;
    height: 40rem;
    display: block;
    margin-top: 20vh;
	box-shadow: #dd9434ab 0px 200px 80px;
	padding: 40px 0;
  }

.container{
	background-color: rgba(203, 59, 84, .82);
	width: 100%;
	height: 180px;
	display: flex;
	align-items: center;
	box-shadow: #1C0702 0px 15px 40px;
	border-radius: 25px;
	min-width: 830px;
	margin-top: 180px;
}

.block-one{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20%;
	min-width: 100px;
	padding: 0;
	align-items: center;
	margin-left: 1em;
}

.current-img > img{
	transform: scale(0.5);
}

.current-img{
	height: auto;
	width: 100%;
	margin-left: 1px;

}


.album-name{
	min-width: 7em;
	color: white;
	margin-left: 1px;
	overflow:inherit;
	
}

.album-name:hover{
	text-decoration: underline;
}


.block-two{
	display: flex;
	margin-left: 4em;
	column-gap: 20px;
	justify-content: space-between;
	min-width: 150px;
}

.time {
	width: 15rem;
	background-color: #ced2d3;
	height: 8px;
	display: block;
	overflow: hidden; 
	border-radius: 1.5em;

}

.progress-bar {
	
	-webkit-animation: playing 30s infinite;
	/* Safari 4+ */
	-moz-animation: playing 30s infinite;
	/* Fx 5+ */
	-o-animation: playing 30s infinite;
	/* Opera 12+ */
	animation: playing 30s infinite;
	display: flex;
	height: 8px;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #d35400), color-stop(100%, #f1c40f));
	background-image: -webkit-linear-gradient(left, #d35400, #f1c40f);
	background-image: -moz-linear-gradient(left, #d35400, #f1c40f);
	background-image: -o-linear-gradient(left, #d35400, #f1c40f);
	background-image: linear-gradient(left, #d35400, #f1c40f); 
	border-radius: 1.5em;
	
}

.block-three{
	margin-left: 40px;	
	min-width: 150px;
}

.block-three ul li {
    display: inline-block;
    margin-right: .17em;
    padding: .9em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f8c8d), color-stop(100%, #95a5a6));
    background-image: -webkit-linear-gradient(top, #7f8c8d, #95a5a6);
    background-image: -moz-linear-gradient(top, #7f8c8d, #95a5a6);
    background-image: -o-linear-gradient(top, #7f8c8d, #95a5a6);
    background-image: linear-gradient(top, #7f8c8d, #95a5a6);
    text-align: center;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; 
	
}
.block-three ul li:hover {
	cursor: pointer;
	background-image: -webkit-gradient(ease-in, 50% 0%, 50% 100%, color-stop(0%, #1abc9c), color-stop(100%, #16a085));
	background-image: -webkit-linear-gradient(top, #1abc9c, #16a085);
	background-image: -moz-linear-gradient(top, #1abc9c, #16a085);
	background-image: -o-linear-gradient(top, #1abc9c, #16a085);
	background-image: linear-gradient(top, #1abc9c, #16a085); 
	
}

.block-four{
	display: flex;
	margin-left: 3em;
	column-gap: 10px;
	justify-content: space-between;
	align-items: center;
	min-width: 100px;
	height: 40px;
}


.volume{
	width: 5rem;
	background-color: #0f0f0f;
	height: 4px;
	display: block;
	overflow: hidden; 
	border-radius: 1.5em;
}

.document{
	height: 200px;
	background-color: rgba(242, 253, 253, 0.089);
	border: 20px 0 0;
	align-items: center;
	justify-content: space-around;
	min-width: 700px;
}


.document ul {
    list-style: none;
    overflow-y: scroll;
	height: 200px;
	
}

.plItem{
	display: flex;
	color: #fff;
	font-size: 20px;
}

#plList li {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 21px 0;
	
}

#plList li:hover{
	background-color: rgba(173, 216, 230, 0.555);
}

.plTitle{
	margin-left: 2rem;
	min-width: 118px;
}

.plLength{
	margin-left: 40rem
}